main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}
h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.rating span {
    margin: 0.1rem;
}

.cart-product-name{
    text-decoration: none;
}


.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  border-radius: 50%;
  margin-left: 450px;
  margin-top: 60px;
} 

.carousel a{
  margin: 0 auto;
}  

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}


@media (max-width: 1400px) {
  .carousel-caption {
    position: absolute;
    top: 0;
  }
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: 450px;
  } 
} 

@media (max-width: 1300px) {
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: 400px;
  } 
} 
@media (max-width: 1200px) {
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: 300px;
  } 
} 
@media (max-width: 1100px) {
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: 300px;
  } 
} 
@media (max-width: 1000px) {
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: 180px;
  } 
} 
@media (max-width: 900px) {
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: 160px;
  } 
} 
@media (max-width: 800px) {
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: 180px;
  } 
} 
@media (max-width: 700px) {
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: 80px;
  } 
} 
@media (max-width: 600px) {
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: 90px;
  } 
} 
@media (max-width: 500px) {
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: 0;
  } 
} 
